<p><h2><%= @item.name %></h2></p>
<p>Description: <%= @item.description %></p>
<p>Current Price: <%= format_price(@item.unit_price) %></p>
<%= link_to "Update Item", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %>
