<h1>Discount <%= @discount.id %></h1>

Discount amount: <%= @discount.amount %>% off when ordering <%= @discount.threshold %> or more of an item
<button><%= link_to "Edit discount", "/merchants/#{@merchant.id}/discounts/#{@discount.id}/edit" %></button>
